{%  extends 'Analysis/main.html' %}

{% block content %}

<section class="home-section">
    <div class="container mt-4">
        <h1>Analysis Management</h1>

        <div class="row">
            <div class="col">
             
          
                
      

          <form method="get" class="form-inline">
            {{ myFilter.form.as_p }}
            
            <button type="submit" class="btn btn-outline-success  ">Search</button>
        </form>

        <a href="{% url  'create_analyse'    %}" class="btn btn-primary mb-3 custom-btn">
            <i class="fas fa-plus"></i> <!-- Icône d'ajout (utilisez la classe Bootstrap pour une icône de plus) -->
            New Analysis
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> location</th>
                    <th>date</th>

                    <th> product</th>
                    <th>type_produit</th>
                    <th> type_analyse</th>
                    <th> status</th>
                    <th>heure_analyse</th>
                    <th>resultat</th>
                    <th>laborantins</th>
                 
                  <th>Update</th>
                  <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in    page_obj %}
                    <tr>
                  
                    
                      <td>{{i.location}}</td>
                      <td>{{i.date_created|date:"d/m/Y"}}</td>

                      <td>{{i.product_name}}</td>
                      <td>{{i.type_produit}}</td>
                      <td>{{i.type_analyse}}</td>
                      <td>{{i.status}}</td>
                      <td>{{i.date_created |time:"g:i:a"}}  </td>
                      <td  >{{i.resultat}}</td>
                      <td  > {{i.laborantins}}</td>
                  
                    <td>
                        <a href="{% url 'update_analyse'  i.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                       <td> <a href="{% url 'delete_analyse'  i.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Aucune analyse trouvée.</td>
                </tr>
            
                {% endfor %}
                <!-- Repeat these lines to display more analyses -->
            </tbody>
        </table>
        
        <div class="custom-pagination">
            <span class="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            <ul class="pages">
                {% if page_obj.has_previous %}
                    <li class="prev">
                        <a href="?page=1">&laquo;&laquo;</a>
                    </li>
                    <li class="prev">
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
        
                {% for i in page_obj.paginator.page_range %}
                    <li class="{% if i == page_obj.number %}active{% endif %}">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="next">
                        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                    <li class="next">
                        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        


        {% comment %} <div class="">
            showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </div>

        <ul class="pagination align-right float-right mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
      
            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}
      
      
            </ul>
    </div>
    {% endcomment %}

    
</section>
{% endblock %}

      


