{%  extends 'Analysis/main.html' %}

{% block content %}

<section class="home-section" >
   
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    {%  include 'Analysis/status.html' %}


 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
       
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>




    
    <!-- Create laborations  -->
  

    <div class="row">
        <div class="col-md-5">
            <h5>Laborantins: </h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url  'createlaboratins' %}">Create laborantins</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th> Matricule</th>
                        <th>Name</th>
                        <th>Phone</th>
                        
                    </tr>
                    {% for laboratins in   laboratinss %}
                        <tr>
                            <td><a  class="btn btn-sm btn-info" href="{% url 'laboratins'   laboratins.id %}">View</a></td>
                                <td>{{laboratins.matricule}} </td>
                            <td>{{laboratins.first_name}}  {{laboratins.last_name}}</td>
                            <td>{{laboratins.telephone}}</td>
                            
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

     
                    


    
        <div class="col-md-7">
            <h5>LAST <strong>{{ total_analyse}} </strong>Analyse</h5>
            <hr>
            <div class="card card-body">
               
                <table class="table table-sm">
                    <tr>
                        
                    <th> product</th>
                    <th>type_produit</th>
                    <th> type_analyse</th>
                    <th> status</th>
                    <th>heure_analyse</th>
                    <th>resultat</th>
                   
                       
                    </tr>
                    {% for i in    analyse1 %}
                    <tr>
                  
                    
                     
                      <td>{{i.product_name}}</td>
                      <td>{{i.type_produit}}</td>
                      <td>{{i.type_analyse}}</td>
                      <td>{{i.status}}</td>
                      <td>{{i.date_created |time:"g:i:a"}}  </td>
                      <td  >{{i.resultat}}</td>
                  
                    {% endfor %}
                </table>
            </div>
        </div>
     
    </div>






    <!--create analyse -->
    <!-- Create analyse -->


   






    





  

    <!-- Content Row -->

     {% comment %} <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> 


    <hr>
    <br><br><br> {% endcomment %}
    {% comment %} <table>
        <thead>
            <tr>
                <th>Type de Produit</th>
                <th>Type d'Analyse</th>
                <th>Moyenne</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for moyenne_analyse in moyennes_analyse %}
            <tr>
                <td>{{ moyenne_analyse.type_produit }}</td>
                <td>{{ moyenne_analyse.type_analyse }}</td>
                <td>{{ moyenne_analyse.moyenne }}</td>
                <td>{{ moyenne_analyse.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> {% endcomment %}
    

    {% comment %} <h1>Analysis Results</h1>
    <ul>
        {% for result in   resultat %}
            <li>{{ result.date_analyzed }} - {{ result.result_value }}</li>
        {% endfor %}
    </ul> {% endcomment %}

</section>

{%  endblock %}