 {%  extends 'Analysis/main.html' %}

{% block content %}

<section class="home-section">



       <br>

      <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <h5>Laboratins:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="#">Place Order</a>
      
          </div>
        </div>
      
        <div class="col-md">
          <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email    :     {{laboratins.email}} </p>
            <p>Phone    :     {{laboratins.telephone}} </p>
          </div>
        </div>
      
        <div class="col-md">
          <div class="card card-body">
            <h5>Total Analyse</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{analyse_count}}</h1>
          </div>
        </div>
      </div>
      
      
      <br>
      <div class="row">
        <div class="col">
          <div class="card card-body">
      
            <form method="get">
             
      
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
      
          </div>
        </div>
        
      </div>
      <br>
      
      <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <table class="table table-sm">
              <tr>
               
                                     
                  <th> location</th>
                  <th> product</th>
                  <th>type_produit</th>
                  <th> type_analyse</th>
                  <th> status</th>
                  <th>heure_analyse</th>
                  <th>resultat</th>
                  <th>laborantins</th>
               
                <th>Update</th>
                <th>Remove</th>
              </tr>
      
              
      
              {% for i in   analyse %}

              <tr>
            
              
                <td>{{i.location}}</td>
                <td>{{i.product_name}}</td>
                <td>{{i.type_produit}}</td>
                <td>{{i.type_analyse}}</td>
                <td>{{i.status}}</td>
                <td>{{i.date_created |time:"H"}}  AM</td>
                <td  >{{i.resultat}}</td>
                <td  > {{i.laborantins}}</td>
            
             
           
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
      
                <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
              </tr>
              {% endfor %}
      
            </table>
          </div>
        </div>
      </div> 
    </section>
      
      {% endblock %}

